$body-color: #e9ebec;
$primary-color: #050f2a;
$secondary-color: #01193b;
$primary-font-color: white;
$button-enabled-color: #36598d;
$button-color: #fb1a7b;
$button-hover-color: #fb1a9d;
$button-font-color: white;
$link-font-color: #00c8eb;
$link-font-hover-color: #67f3f8;
$link-outline-color: #fb1a7b;
$h3-subheader-color: #36588c;
$button-square-color: #36598d;
$button-square-hover-color: #29aec5;
$button-square--disabled-color: #1a2a43;
$button-square-font-color: white;
$modal-top-color: #94a3bb;
$modal-body-color: white;
$modal-body-font-color: black;
$modal-title-strip-color: #36598d;
$modal-footer-strip-color: #6c7e99;
