$body-color: #e9ebec;
$primary-color: #050f2a;
$secondary-color: #01193b;
$primary-font-color: white;
$button-enabled-color: #36598d;
$button-color: #fb1a7b;
$button-hover-color: #fb1a9d;
$button-font-color: white;
$link-font-color: #00c8eb;
$link-font-hover-color: #67f3f8;
$link-outline-color: #fb1a7b;
