@import "variables";

body {
  font-family: "Gotham SSm A", "Gotham SSm B", helvetica, arial, sans-serif;
  margin: 0;
  background-color: $body-color;
  color: $primary-font-color;

  #App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 450px;
    background-color: white;
    margin: 0 auto;
  }

  .contentContainer {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-flow: column;
    flex: 1 1 auto;
    gap: 1rem;
    padding: 2rem;
    background-color: $primary-color;
  }

  Button.standard {
    display: block;
    width: 100%;
    background-color: $button-color;
    cursor: pointer;
    border: 1px solid $button-color;
    border-radius: 5px;
    padding: 0.7rem 0 0.4rem 0;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: $button-font-color;
    background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.35) 53%
    );
  }

  Button.standard:hover,
  Button.standard:focus-visible {
    outline: 2px solid white;
    background-color: $button-hover-color;
  }

  a {
    text-align: center;
    color: $link-font-color;
  }

  a:hover {
    color: $link-font-hover-color;
    text-decoration: none;
  }

  a:focus-visible,
  .focusOutline:focus-visible {
    color: $link-font-hover-color;
    text-decoration: none;
    outline: 3px solid $link-outline-color;
    outline-offset: 2px;
    border-radius: 5px;
  }

  img.octopus {
    display: block;
    width: 64px;
    object-fit: contain;
    align-self: center;
  }
}
