@import "../../variables";

.gridContainer {
  display: grid;
  grid-template-areas:
    "imageTop"
    "imageBottom"
    "title"
    "quantity"
    "description"
    "specs";
  grid-template-rows: auto;

  background-color: $primary-color;
  //   border: 1px solid red;
}

// Applies to all child grid elements
.gridContainer > * {
  padding: 1rem 2rem;
}

.gridImageTop {
  grid-area: imageTop;
  min-height: 340px;
  text-align: center;

  border: 1px solid blue;
}

.gridImageBottom {
  grid-area: imageBottom;

  height: 20px;
  background-color: $secondary-color;

  //   border: 1px solid blue;
}

.gridTitle {
  grid-area: title;
  min-height: 150px;
  background-color: $secondary-color;
  padding-top: 0;

  border: 1px solid rgb(49, 212, 43);
}

.gridQuantity {
  grid-area: quantity;
  min-height: 150px;

  border: 1px solid rgb(227, 245, 63);
}

.gridDescription {
  grid-area: description;
  min-height: 165px;
  background-color: $secondary-color;

  border: 1px solid rgb(245, 63, 190);
}

.gridSpecs {
  grid-area: specs;
  min-height: 250px;

  border: 1px solid rgb(133, 63, 245);
}

.imgProduct {
  max-width: 300px;
  object-fit: contain;
  margin: auto;
  padding: 0 0 1rem 0;
  z-index: 1;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  text-align: center;

  //   background-color: red;
}

h1,
h2,
h3 {
  margin: 0;
}
